.topMenu{
  color: rgba(102, 102, 102, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins400', serif;
  font-size: 12px;
  padding: 12px 0;
  max-width: 1440px;
  margin: {
    left: auto;
    right: auto;
  };

  .location{
    display: flex;
    align-items: center;
    .location__svg{
      margin-right: 8px;
    }
  }
  .smallMenu{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 18%;
    .mainOptionsSite{
      select{
        color: rgba(102, 102, 102, 1);
        border: none;
        font-family: 'Poppins400', serif;
        font-size: 12px;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
    .account{
      transform: translateY(1px);
      display: flex;
      p:not(:nth-child(2)){
        cursor: pointer;
        transition: .5s;
        border-bottom: none;
        &:hover{
          color: #00B207;
          border-bottom: 1px solid #84D187;
        }
      }
    }
  }
}
hr{
  border: none;
  border-bottom: 0.5px solid rgb(215, 215, 215);
}