$softPrimary: #84D187;
$primary: #00B207;
$hardPrimary: #2c742F;
$warning: #FF8A00;
$danger: #EA4B48;
$screen-lr: 1400px;
$screen-md: 1100px;
$screen-sm: 800px;
$screen-xsm: 400px;
$fontSize: 14px;

@mixin setFont($fontFamily, $SizeOfFont, $textTransform, $setColorFont){
  font-size: $fontSize + $SizeOfFont;
  font-family: 'Poppins' + $fontFamily, serif;
  text-transform: $textTransform;
  color: $setColorFont;
};

@mixin autoMargin() {
  margin: {
    left: auto;
    right: auto;
  }
};