.topMenu {
  color: rgb(102, 102, 102);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins400", serif;
  font-size: 12px;
  padding: 12px 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.topMenu .location {
  display: flex;
  align-items: center;
}
.topMenu .location .location__svg {
  margin-right: 8px;
}
.topMenu .smallMenu {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 18%;
}
.topMenu .smallMenu .mainOptionsSite select {
  color: rgb(102, 102, 102);
  border: none;
  font-family: "Poppins400", serif;
  font-size: 12px;
}
.topMenu .smallMenu .mainOptionsSite select:not(:last-child) {
  margin-right: 20px;
}
.topMenu .smallMenu .account {
  transform: translateY(1px);
  display: flex;
}
.topMenu .smallMenu .account p:not(:nth-child(2)) {
  cursor: pointer;
  transition: 0.5s;
  border-bottom: none;
}
.topMenu .smallMenu .account p:not(:nth-child(2)):hover {
  color: #00B207;
  border-bottom: 1px solid #84D187;
}

hr {
  border: none;
  border-bottom: 0.5px solid rgb(215, 215, 215);
}

.likedCatalog {
  position: absolute;
  z-index: 100;
  right: 0;
  height: 100%;
  background-color: white;
  width: clamp(26.875rem, 2.97vw + 26.077rem, 28.75rem);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.likedCatalog__head {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
  justify-content: space-between;
  margin-bottom: 12px;
}
.likedCatalog__head .likedCatalog__title {
  font-weight: 500;
}

.cartCatalog {
  position: absolute;
  z-index: 100;
  right: 0;
  height: 100%;
  background-color: white;
  width: clamp(26.875rem, 2.97vw + 26.077rem, 28.75rem);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartCatalog__head {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
  justify-content: space-between;
  margin-bottom: 12px;
}
.cartCatalog__head .cartCatalog__title {
  font-weight: 500;
}

.isCatalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 10px;
}
.isCatalog .isCatalogInfo {
  display: flex;
  align-items: center;
}
.isCatalog .isCatalogInfo .isCatalog__img {
  width: 120px;
  height: 100px;
  margin-right: 8px;
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__title {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__stor {
  display: flex;
  align-items: center;
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__stor .isCatalog__weight {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: rgb(128, 128, 128);
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__stor .isCatalog__price {
  font-size: 14px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: rgb(26, 26, 26);
  margin-top: 4px;
  margin-right: 10px;
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__stor .isCatalog__status {
  margin-top: 3px;
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: #2c742F;
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 4px;
}
.isCatalog .isCatalogInfo .isCatalog__text .isCatalog__stor .stock {
  background-color: rgba(148, 221, 153, 0.4588235294);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buttons .summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons .summary .summary__text {
  font-size: 16px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.buttons .summary .summary__price {
  font-size: 16px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: rgb(26, 26, 26);
}
.buttons button {
  font-size: 16px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  border-radius: 43px;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
}
.buttons .goTo {
  background-color: rgba(148, 221, 153, 0.32);
  color: #00B207;
}
.buttons .addToCart {
  background-color: #2c742F;
}

svg {
  cursor: pointer;
}

.shadow {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4392156863);
  z-index: 2;
}

.midMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.midMenu .logoBar a {
  display: flex;
  align-items: center;
  color: Black;
  font-family: "Poppins500", serif;
}
.midMenu .logoBar a .logoText {
  font-size: 32px;
}
.midMenu .logoBar a .logoSvg {
  margin-right: 5px;
}
.midMenu .searchBar {
  position: relative;
  width: 30%;
}
.midMenu .searchBar__input {
  border: 1px solid rgb(215, 215, 215);
  padding: 12px 16px 12px 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-family: "Poppins400", serif;
  font-size: 15px;
  width: 100%;
}
.midMenu .searchBar__loupe {
  position: absolute;
  top: 13px;
  left: 4px;
}
.midMenu .searchBar__butt {
  font-family: "Poppins600", serif;
  font-size: 16px;
  position: absolute;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00B207;
  color: white;
  height: 49px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.midMenu .searchBar__butt:hover {
  background-color: #2c742F;
}
.midMenu .userDecision {
  display: flex;
  align-items: center;
}
.midMenu .userDecision__like {
  cursor: pointer;
  position: relative;
}
.midMenu .userDecision__cart {
  display: flex;
  align-items: center;
  margin-left: 32px;
  position: relative;
}
.midMenu .userDecision__cart .cart__bag {
  position: relative;
  cursor: pointer;
}
.midMenu .userDecision__cart .cart__price {
  margin-left: 12px;
}
.midMenu .userDecision__cart .cart__price p {
  color: rgb(102, 102, 102);
  font-family: "Poppins400", serif;
  font-size: 11px;
}
.midMenu .userDecision__cart .cart__price h5 {
  font-family: "Poppins500", serif;
  font-size: 14px;
  margin-left: 0;
}
.midMenu .userDecision .inCart, .midMenu .userDecision .inLiked {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c742F;
  border-radius: 16px;
  padding: 3.5px 6px 3.5px 6px;
  width: 18px;
  height: 18px;
  color: white;
  font-size: 10px;
  font-family: "Poppins500", serif;
  top: 1px;
  left: 18px;
  border: 1px solid white;
}

.wrapBotMenu {
  margin-top: 24px;
  background-color: rgb(51, 51, 51);
}
.wrapBotMenu .botMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins500", serif;
  font-size: 14px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.wrapBotMenu .botMenu .sections {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.wrapBotMenu .botMenu .sections .section {
  color: rgb(153, 153, 153);
  cursor: pointer;
  transition: 0.3s all ease-in;
}
.wrapBotMenu .botMenu .sections .section:hover {
  color: rgb(225, 225, 225);
}
.wrapBotMenu .botMenu .tel {
  display: flex;
  align-items: center;
}
.wrapBotMenu .botMenu .tel .tel__tel {
  color: white;
  margin-left: 8px;
}

.active {
  color: rgb(255, 255, 255) !important;
}

.head {
  margin-top: 25px;
  position: relative;
}
.head .slide {
  border-radius: 8px;
  background-color: rgb(218, 229, 218);
  padding-top: 100px;
  padding-bottom: 180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}
.head .slide .slide__photo {
  margin-right: clamp(0rem, 4.158vw - 1.118rem, 2.625rem);
  width: 705px;
  height: 500px;
}
.head .slide .text {
  margin-left: 6%;
  max-width: 568px;
}
.head .slide .text .text__motto {
  font-size: 14px;
  font-family: "Poppins500", serif;
  text-transform: uppercase;
  color: #2c742F;
  margin-bottom: 8px;
}
.head .slide .text .text__title {
  font-size: 71px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: black;
  line-height: 120%;
  margin-bottom: 28px;
}
.head .slide .text .text__discount {
  font-size: 31px;
  font-family: "Poppins500", serif;
  text-transform: none;
  color: black;
  font-weight: 400;
  margin-bottom: 12px;
}
.head .slide .text .text__discount .text__discountHighlight {
  color: #FF8A00;
  text-transform: uppercase;
  font-weight: 600;
}
.head .slide .text .text__paragraph {
  font-size: 14pxnone;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: rgb(128, 128, 128);
  margin-bottom: 32px;
}
.head .benefits {
  position: absolute;
  background: white;
  border-radius: 8px;
  right: 50px;
  bottom: -60px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
}
.head .benefits .benefits__benefit {
  display: flex;
}
.head .benefits .benefits__benefit .benefit__text {
  margin-left: 16px;
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: rgb(153, 153, 153);
}
.head .benefits .benefits__benefit .benefit__text .benefit__title {
  font-size: 16px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: black;
  font-weight: 600;
}
.head .splide__pagination {
  transform: translateY(-90px);
}
.head .splide__pagination .splide__pagination__page {
  background-color: #84D187;
}
.head .splide__pagination .splide__pagination__page.is-active {
  background-color: #00B207;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  gap: 1px;
}

.introSet {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introSet__title {
  font-size: 40px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
  font-weight: 600;
  margin-bottom: 24px;
}
.introSet__sort {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.introSet__sort .sort__cat, .introSet__sort a {
  font-size: 16px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: rgb(128, 128, 128);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.introSet__sort .sort__cat a {
  cursor: pointer;
}
.introSet__sort .sort__cat::after {
  content: "";
  width: 1px;
  height: 16px;
  display: inline-block;
  background-color: rgb(180, 204, 180);
  margin-left: clamp(0.5rem, 1.074vw + 0.211rem, 1.5rem);
  margin-right: clamp(0rem, 1.611vw - 0.433rem, 1.5rem);
}
.introSet__sort .activeCat a {
  border-bottom: 1px solid #00B207;
  color: #00B207;
  background-color: #d5f4d7;
  padding: 0 12px 12px 12px;
}

.home {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  position: relative;
  width: 330px;
  overflow: hidden;
  object-fit: cover;
  border: 0.7px solid rgb(218, 229, 218);
}
.product .product__image {
  transition: 0.3s ease-in-out all;
  width: 320px;
  height: 300px;
}
.product .product__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 6px;
}
.product .product__buttons svg {
  display: none;
  padding: 12px;
  border-radius: 40px;
  border: 1px solid rgb(242, 242, 242);
  background-color: white;
  box-sizing: content-box;
  cursor: pointer;
  transition: 0.3s all ease-in;
}
.product .product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}
.product .product__bottom .product__text .text__title {
  font-size: 16px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(43, 87, 46);
  font-weight: 400;
  margin-bottom: 2px;
}
.product .product__bottom .product__text .text__price {
  font-size: 16px;
  font-family: "Poppins500", serif;
  text-transform: none;
  color: rgb(0, 38, 3);
  font-weight: 500;
  margin-bottom: 12px;
}
.product .product__bottom .product__text .rating {
  display: flex;
}
.product .product__bottom .product__text .rating div:not(:last-child) {
  margin-right: 1px;
}
.product .product__bottom .product__cart {
  display: inline-flex;
  border-radius: 40px;
  padding: 13px;
  cursor: pointer;
  background: rgb(218, 229, 218);
  transition: 0.3s all ease-in;
}
.product .product__bottom .product__cart path {
  stroke: black;
}
.product .product__bottom .product__cart:hover {
  border: 1px solid rgba(44, 116, 47, 0.8);
}
.product:hover {
  border: 0.3px solid rgba(44, 116, 47, 0.8);
  box-shadow: 0 0 5px 0 rgba(44, 116, 47, 0.78);
}
.product:hover .product__image {
  transform: scale(1.1);
}
.product:hover .product__buttons svg {
  display: inline-flex;
}
.product:hover .product__buttons svg:hover {
  border: 1px solid #557e58;
}

.inCart .product__bottom .product__cart {
  background-color: #00B207;
}
.inCart .product__bottom .product__cart path {
  stroke: white;
}

.isLiked .product__buttons .buttons__liked {
  fill: rgba(240, 115, 113, 0.6392156863);
  display: inline-flex;
}

.productView {
  width: clamp(65rem, 27.632vw + 44.967rem, 78.125rem);
  height: 636px;
  background-color: white;
  display: flex;
  border-radius: 8px;
  padding: 40px;
  position: fixed;
  bottom: 18%;
  margin-left: 4.5%;
  z-index: 100;
  gap: 25px;
}
.productView .product__image {
  width: 526px;
  height: 556px;
}
.productView .info {
  position: relative;
}
.productView .info .productView__close {
  position: absolute;
  right: 0;
  bottom: 545px;
}
.productView .info .head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.productView .info .head .head__title {
  font-size: 36px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.productView .info .head .head__ratingBar {
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
}
.productView .info .head .head__ratingBar .ratingBar__rating {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.productView .info .head .head__ratingBar .ratingBar__rating svg {
  cursor: unset;
}
.productView .info .head .head__ratingBar .rating__num {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(102, 102, 102);
}
.productView .info .head .head__price {
  font-size: 24px;
  font-family: "Poppins500", serif;
  text-transform: none;
  color: rgb(44, 116, 47);
}
.productView .info .main {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-top: 24px;
}
.productView .info .main .main__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productView .info .main .main__info .info__brand {
  display: flex;
  align-items: center;
}
.productView .info .main .main__info .info__brand .brand__text {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.productView .info .main .main__info .info__brand .brand__brand {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(230, 230, 230);
  font-family: "Source Code Pro", serif;
  font-size: 13px;
  color: rgb(85, 85, 85);
}
.productView .info .main .main__info .info__socials {
  display: flex;
  align-items: center;
}
.productView .info .main .main__info .info__socials .socials__text {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.productView .info .main .main__info .info__socials .socials__svg {
  padding: 11px;
  box-sizing: unset;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
}
.productView .info .main .main__info .info__socials .socials__svg:not(:last-child) {
  margin-right: 5px;
}
.productView .info .main .main__info .info__socials .socials__svg:hover {
  background-color: #00B207;
}
.productView .info .main .main__info .info__socials .socials__svg:hover g path {
  fill: white;
}
.productView .info .main .info__descr {
  margin-top: 16px;
  text-align: justify;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: rgb(128, 128, 128);
}
.productView .info .main .buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}
.productView .info .main .buttons .buttons__addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 178, 7);
  width: 70%;
}
.productView .info .main .buttons .buttons__addToCart svg {
  margin-left: 10px;
  transform: translateY(-2px);
}
.productView .info .main .buttons .buttons__like {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 229, 218);
  width: 30%;
}
.productView .info .footerView {
  margin-top: 24px;
  font-size: 14px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.productView .info .footerView .footer__category {
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(128, 128, 128);
}

.notData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.notData .notData__title {
  font-size: 40px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
}
.notData .notData__description {
  font-size: 16px;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: rgb(128, 128, 128);
  max-width: 612px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
}
.notData .notData__home {
  font-size: 14px;
  font-family: "Poppins600", serif;
  text-transform: capitalize;
  color: rgb(128, 128, 128);
  padding: 14px 32px;
  border-radius: 43px;
  background-color: #00B207;
  border: none;
}
.notData .notData__home a {
  color: white;
}

.discounts {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  align-items: center;
  flex-wrap: wrap;
}
.discounts .discount {
  max-width: 425px;
  position: relative;
}
.discounts .discount .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 17%;
}
.discounts .discount .text .discount__text {
  font-size: 14px;
  font-family: "Poppins500", serif;
  text-transform: uppercase;
  color: white;
}
.discounts .discount .text .discount__title {
  font-size: 40px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: white;
}
.discounts .discount .text .discount__par {
  font-size: 18px;
  font-family: "Poppins400", serif;
  text-transform: none;
  color: white;
  margin-bottom: 30px;
}
.discounts .discount .text .discount__from {
  font-size: 20px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: #FF8A00;
}
.discounts .discount .text .discount__upTo {
  padding: 3px 12px;
  background-color: black;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: #FF8A00;
}
.discounts .discount .text .discount__butt {
  background-color: white;
  padding: 14px 32px;
  border-radius: 43px;
  border: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-family: "Poppins600", serif;
  text-transform: none;
  color: #00B207;
  cursor: pointer;
}
.discounts .discount:first-of-type .text {
  left: 8% !important;
}

.footer {
  padding: 100px 0;
  background-color: rgb(26, 26, 26);
}
.footer .sections {
  max-width: clamp(25rem, 65.789vw + 8.553rem, 87.5rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.footer .sections section {
  max-width: 130px;
}
.footer .sections p {
  margin: 12px 0;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins400", serif;
  text-transform: capitalize;
  color: rgb(153, 153, 153);
  transition: 0.2s;
}
.footer .sections p:hover:not(.one__text, .contsct__text) {
  color: white;
}
.footer .sections p:first-child {
  margin-top: 20px;
}
.footer .sections .sec__header {
  font-size: 20px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}
.footer .sections .one {
  max-width: 337px;
}
.footer .sections .one .one__text {
  cursor: unset;
}
.footer .sections .one .contsct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .sections .one .contsct__text {
  cursor: unset;
  margin: 0;
  text-transform: unset;
}
.footer .sections .one .contsct a {
  font-size: 14px;
  font-family: "Poppins500", serif;
  text-transform: capitalize;
  color: white;
  padding-bottom: 2px;
  border-bottom: 1px solid #00B207;
}

/*# sourceMappingURL=main.css.map */
