*{
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: 'Poppins300';
  src: url("../public/assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins400';
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins500';
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins600';
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 'Poppins700';
  src: url("../public/assets/fonts/Poppins-Bold.ttf");
}

a{
  text-decoration: none;
}
