*{
  margin: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

.goToTop svg{
  position: sticky;
  bottom: 85px;
  left: 93%;
  padding: 15px;
  box-sizing: unset;
  background: #DAE5DA;
  border-radius: 50px;
}

@font-face {
  font-family: 'Poppins300';
  src: url("../public/assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins400';
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins500';
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins600';
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 'Poppins700';
  src: url("../public/assets/fonts/Poppins-Bold.ttf");
}

a{
  text-decoration: none;
}
