.product{
  position: relative;
  width: 330px;
  overflow: hidden;
  object-fit: cover;
  border: .7px solid rgba(218, 229, 218, 1);

  .product__image{
    transition: .3s ease-in-out all;
    width: 320px;
    height: 300px;
  }

  .product__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    gap: 6px;
    svg{
      display: none;
      padding: 12px;
      border-radius: 40px;
      border: 1px solid rgba(242, 242, 242, 1);
      background-color: white;
      box-sizing: content-box;
      cursor: pointer;
      transition: 0.3s all ease-in;
    }
  }

  .product__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    .product__text{
      .text__title{
        @include setFont(400, 2, capitalize, rgb(43, 87, 46));
        font-weight: 400;
        margin-bottom: 2px;
      }
      .text__price{
        @include setFont(500, 2, none, rgb(0, 38, 3));
        font-weight: 500;
        margin-bottom: 12px;
      }
      .rating{
        display: flex;
        div:not(:last-child){
          margin-right: 1px;
        }
      }
    }
    .product__cart{
      display: inline-flex;
      border-radius: 40px;
      padding: 13px;
      cursor: pointer;
      background: rgba(218, 229, 218, 1);
      transition: 0.3s all ease-in;
      path{
        stroke: black;
      }
      &:hover{
        border: 1px solid rgba(44, 116, 47, 0.8);
      }
    }
  }

  &:hover{
    border: 0.3px solid rgba(44, 116, 47, 0.8);
    box-shadow: 0 0 5px 0 rgba(44, 116, 47, 0.78);
    .product__image{
      transform: scale(1.1);
    }
    & .product__buttons svg{
      display: inline-flex;
      &:hover{
        border: 1px solid $softPrimary;
      }
    }
  }
}

.inCart{
  .product__bottom{
    .product__cart{
      background-color: #00B207;
      path{
        stroke: white;
      }
    }
  }
}
.isLiked{
  .product__buttons{
    .buttons__liked{
      fill: #f07371a3;
      display: inline-flex;
    }
  }
}